.main{
    background-color: #181818;
    position: fixed;
    justify-content: center;
    display: grid;
    min-height: 4vh;
    min-width: 100%;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 0px;
    justify-content: center;
    z-index: 3;
}

.txt{
    font-family: "SF Mono";
    font-size: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #514d4d;
}